#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Microsoft OneDrive
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=abnfpfhjmipcnaibcolbacfhgfcmjjbn
Icon=chrome-abnfpfhjmipcnaibcolbacfhgfcmjjbn-Default
StartupWMClass=crx_abnfpfhjmipcnaibcolbacfhgfcmjjbn
