#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Outlook.com
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pfpeapihoiogbcmdmnibeplnikfnhoge
Icon=chrome-pfpeapihoiogbcmdmnibeplnikfnhoge-Default
NoDisplay=true
StartupWMClass=crx_pfpeapihoiogbcmdmnibeplnikfnhoge
