[Desktop Entry]
Name=PhpStorm 2022.3.3
Icon=/home/nermin/.local/share/JetBrains/Toolbox/apps/PhpStorm/ch-0/.icon.svg
StartupWMClass=jetbrains-phpstorm
Comment=A smart IDE for PHP and Web
Exec="/home/nermin/.local/share/JetBrains/Toolbox/apps/PhpStorm/ch-0/223.8836.42/bin/phpstorm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true