[Desktop Entry]
Name=Android Studio Electric Eel 2022.1.1 Patch 2
Icon=/home/nermin/.local/share/JetBrains/Toolbox/apps/AndroidStudio/ch-0/.icon.svg
StartupWMClass=jetbrains-studio
Comment=An IDE for Android app development
Exec="/home/nermin/.local/share/JetBrains/Toolbox/apps/AndroidStudio/ch-0/221.6008.13.2211.9619390/bin/studio.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true