[Desktop Entry]
Name=Wallpaper Colors
Exec=exec-wal
Comment=Extract colors from current wallpaper
Terminal=false
PrefersNonDefaultGPU=false
Icon=/usr/share/icons/breeze/actions/22/color-fill-symbolic.svg
Type=Application