[Desktop Entry]
Name=Mission Center
Exec=missioncenter
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=usage-app-symbolic.svg
Type=Application
Name[en_US]=mission-center.desktop
