[Desktop Entry]
Name=Wallpaper Colors
Exec=exec-wal
Comment=Extract colors from current wallpaper
Terminal=false
PrefersNonDefaultGPU=false
Icon=color-fill-symbolic
Type=Application