[Desktop Entry]
Name=Wallpaper Colors
Exec=exec-wal
Comment=Extract colors from current wallpaper
Terminal=false
PrefersNonDefaultGPU=false
Icon=appearance-symbolic.svg
Type=Application