/*
    LAYOUT (fonts, margins, padding...)
*/


/* General */
* {
    font-family: "Ubuntu Sans", "SF Pro Rounded", "Fira Sans Semibold", FontAwesome, Roboto, sans-serif, "NotoSansMono Nerd Font";
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
}
#custom-weather,
#cpu,
#memory,
#disk,
#battery{
    font-family: fontello, "SF Mono", "SF Pro Rounded", "Fira Sans Semibold", FontAwesome, Roboto, sans-serif;
    font-size: 14px;
    min-width: 45px;
}

window#waybar {
    background-color: rgba(133,133,133,0.7);
    border-bottom: 0;
    transition-property: background-color;
    transition-duration: .5s;
}

/* default margin and padding for all modules */
#custom-appmenuicon,
#clock,
#custom-weather,
#quicklinks,
#workspaces,
#cpu,
#memory,
#disk,
#custom-updates,
#bluetooth,
#pulseaudio,
#battery,
#network,
#tray,
#custom-exit,
#custom-notification,
#custom-cliphist{
    border-radius: 6px;
    margin: 5px 0px 5px 0px; /* see: spacing in config for horizontal spacing*/
    padding: 2px 10px 2px 10px;
}

/* default icon size */
#custom-exit,
#bluetooth,
#pulseaudio,
#network,
#custom-wallpaper,
#custom-thunderbird,
#custom-filemanager,
#custom-browser,
#custom-phpstorm,
#custom-idea,
#custom-notification{
    font-size: 18px;
}

/* Start Icon */
#custom-appmenuicon{
    margin-left: 5px;
    font-size: 20px;
}
#custom-weather{
    /*font-size: 17px;
    font-weight: 500;*/
}
/* quicklinks */
#custom-wallpaper,
#custom-phpstorm,
#custom-idea,
#custom-thunderbird,
#custom-filemanager,
#custom-browser {
    margin: 0px 10px;
}

/* Workspaces */

/* reset defaults */
#workspaces > * {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
}
#workspaces{
    padding: 3px;
}
#workspaces button {
    margin: 0px 3px;
    padding: 0px 5px 0px 5px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}
#workspaces button.active {
    transition: all 0.5s ease-in-out;
}


/* Power - Exit*/
#custom-exit{
    margin-right: 10px;
}
/* Tooltip */
tooltip {
    border-radius: 10px;
    background-color: #000000;
    opacity:0.9;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: #cccccc;
}
