@import "~/.config/rofi/app-menu-fullscreen.rasi"

window {
	fullscreen:       false;
	width: 60%;
    height: 75%;
	padding:          3em;
	spacing:          3em;
	border-color: @color11;
	border: 2px;
	border-radius: 0em;
}
listview {
	columns: 5;
	lines: 3;
	spacing: 1.0em;
}
element-icon {
	size: 4em;
}