/* global config ---- */
@import "~/.config/rofi/globals.rasi"

/* font ------- */
@import "~/.config/rofi/font.rasi"

/* colors (custom wal template) ---- */
@import "~/.cache/wal/colors-rofi-pywal.rasi"


/**********************************/
// APP MENU config
/**********************************/
configuration {
	modes: "drun";
	show-icons: true;
	drun-display-format: "{name}";
	display-drun: "Applications";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

/* global design ---- */
@import "~/.config/rofi/globals-design.rasi"

/**********************************/
// APP MENU design
/**********************************/

window {
    width: 40%;
    height: 70%;
}
element-icon {
    size: 48px;
}
