/*
#  ____        __ _  
# |  _ \ ___  / _(_) 
# | |_) / _ \| |_| | 
# |  _ < (_) |  _| | 
# |_| \_\___/|_| |_| 
#                    
# by Stephan Raabe (2023) 
# ----------------------------------------------------- 
*/

/* ---- Configuration ---- */
configuration {
    modi:                       "drun,run";
    font:                       "Fira Sans 11";
    show-icons:                 false;
    icon-theme:                 "kora";
    display-drun:               "APPS";
    display-run:                "RUN";
    display-filebrowser:        "FILES";
    display-window:             "WINDOW";
	hover-select:               true;
    me-select-entry:            "";
    me-accept-entry:            "MousePrimary";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
    
}

// @theme "/usr/share/rofi/themes/docu.rasi"