[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT
Comment=ChatGPT WebApp
Categories=Network;
Exec=chromium --ozone-platform=wayland --class=chatgpt-app --app=https://chatgpt.com --start-maximized --user-data-dir=/home/nermin/.config/webapps/chromium-chatgpt-app
Icon=gpt
StartupWMClass=chatgpt-app
StartupNotify=true
Terminal=false