# xprop | grep WM_CLASS - to get StartupWMClass
[Desktop Entry]
Name=ChatGPT
Exec=chromium --app=https://chatgpt.com --start-maximized
Icon=preferences-system-search
Type=Application
Categories=Network;
StartupWMClass=chatgpt.com
