[Desktop Entry]
Categories=Network;
Comment[en_US]=ChatGPT WebApp
Comment=ChatGPT WebApp
Exec=chromium --class=chatgpt-app --app=https://chatgpt.com --start-maximized --user-data-dir=/home/nermin/.config/webapps/chromium-chatgpt-app
StartupWMClass=chatgpt-app
GenericName[en_US]=
GenericName=
Icon=gpt
MimeType=
Name[en_US]=ChatGPT
Name=ChatGPT
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
