[Desktop Entry]
Version=1.0
Type=Application
Name=DeepSeek
Comment=DeepSeek Chat WebApp
Categories=Network;
Exec=chromium --ozone-platform=wayland --class=deepseek-app --app=https://chat.deepseek.com --start-maximized --user-data-dir=/home/nermin/.config/webapps/chromium-deepseek-app
Icon=internet-chat
StartupWMClass=deepseek-app
StartupNotify=true
Terminal=false