[Desktop Entry]
Version=1.0
Type=Application
Name=iCloud Mail
Comment=iCloud Mail WebApp
Categories=Network;Email;
Exec=chromium --ozone-platform=wayland --class=icloudmail-app --app=https://icloud.com/mail/ --start-maximized --user-data-dir=/home/nermin/.config/webapps/chromium-icloudmail-app
Icon=mail-client
StartupWMClass=icloudmail-app
StartupNotify=true
Terminal=false