[Desktop Entry]
Name=Resources
Exec=flatpak run io.missioncenter.MissionCenter
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=folder-rpm-symbolic
Type=Application