/* MY MODIFICATIONS */
.applet-label {
    font-weight: 500;
}
.workspace-button {
    font-weight: 500;
    border: none;
    width: 2em;
    color: rgba(48, 48, 48, 0.55);
    background-color: transparent;
}
.workspace-button:outlined {
    background-color: transparent;
    color: #303030;
}
.workspace-button:shaded {
    background-color: transparent;
}
.workspace-button:hover,
.workspace-button:shaded:hover,
.workspace-button:outlined:hover {
    background-color: #d3d3d7;
}