/* TOP BAR */
#panel {
  background-color: #21232d;
  font-weight: normal;
  height: 2.1em;
}


/* Entries */
StEntry {
  background-color: #1d1d1d;
  color: #C3C7D1;
  border: 1px solid #464646;
}

StEntry:hover {
  background-color: #1d1d1d;
  border-color: #535353;
  color: #F7F7F7;
}

StEntry:focus {
  background-color: #000;
  color: #F7F7F7;
}

StEntry:insensitive {
  background-color: #2c2c2c;
  border-color: #2c2c2c;
  color: #8a8a8a;
}

StEntry StLabel.hint-text {
  color: rgba(195, 199, 209, 0.7);
}

.popup-menu {
  background-color: transparent;
  color: #C3C7D1;
}

.popup-sub-menu {
  background-color: #2c2f3c;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.popup-sub-menu .popup-menu-item:active,
.popup-sub-menu .popup-menu-item.selected,
.popup-sub-menu .popup-menu-item:hover,
.popup-sub-menu .popup-menu-item:focus {
  background-color: #3c3f50 !important;
  color: #C3C7D1;
}

.popup-menu-content {
  background: #21232d;
  border: 1px solid #1b1c24;
  border-radius: 15px;
}

.popup-menu-item:active,
.popup-menu-item.selected,
.popup-menu-item:hover,
.popup-menu-item:focus {
  background-color: #2f313f !important;
  color: #C3C7D1;
}

.popup-menu-item:checked {
  background-color: #373a4b !important;
  box-shadow: none;
  color: #f8f8f2 !important;
}

.popup-menu-item:insensitive {
  color: rgba(195, 199, 209, 0.5);
}

.popup-inactive-menu-item {
  color: #C3C7D1;
}

.popup-inactive-menu-item:insensitive {
  color: rgba(195, 199, 209, 0.5);
}


.popup-separator-menu-item .popup-separator-menu-item-separator {
  height: 1px;
  background-color: #373a4b;
}

.popup-separator-menu-item .popup-menu-ornament {
  width: 0 !important;
}

.popup-sub-menu .popup-separator-menu-item {
  background-color: transparent;
}

.popup-sub-menu .popup-separator-menu-item .popup-separator-menu-item-separator {
  background-color: #464a5f;
}

.system-menu-action {
  color: #C3C7D1;
  /*border: 1px solid #1b1c24;*/
  border: 1px solid red;
  background: #21232d;
}

.window-close {
  background-color: #21232d;
  color: #cfd2da;
  border: 2px solid green;
}

.window-caption {
  color: #f8f8f2;
  background-color: #21232d;
  border: 1px solid violet;
}


/* Buttons */
.button,
.app-folder-dialog .edit-folder-button {
  color: #C3C7D1;
  background-color: #2c2f3c;
  box-shadow: none;
  border: 1px solid #1b1c24;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
}

.button:focus,
.app-folder-dialog .edit-folder-button:focus {
  background-color: #353848;
  color: #f8f8f2;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  box-shadow: none;
  border: 1px solid #1b1c24;
}

.button:insensitive,
.app-folder-dialog .edit-folder-button:insensitive {
  color: #767984;
  background-color: rgba(57, 59, 71, 0.66);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  text-shadow: none;
  icon-shadow: none;
}

.button:active,
.app-folder-dialog .edit-folder-button:active {
  /*color: #b9da0e;*/
  background-color: rgba(40, 42, 54, 0.95);
  border: 1px solid #1b1c24;
  text-shadow: none;
  icon-shadow: none;
}

.button:hover,
.app-folder-dialog .edit-folder-button:hover {
  background-color: #353848;
  color: #f8f8f2;
  border: 1px solid #1b1c24;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
}

/* NOTIFICATIONS & MESSAGE TRAY */


.notification-banner {
  font-size: 11pt;
  width: 34em;
  margin: 5px;
  border-radius: 12px;
  color: #f8f8f2;
  background-color: #2c2f3c;
  border: 1px solid #1b1c24;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.notification-banner:hover,
.notification-banner:focus {
  background-color: #313342;
  border-radius: 12px;
  box-shadow: none;
}

.notification-banner * {
  color: #fefefe;
}

.notification-banner .notification-icon {
  padding: 5px;
}

.notification-banner .notification-content {
  padding: 5px;
  spacing: 5px;
}

.notification-banner .secondary-icon {
  icon-size: 1.09em;
}

.notification-banner .notification-actions {
  background-color: #242530;
  padding-top: 2px;
  spacing: 1px;
  border-radius: 0px 0px 12px 12px;
}

.notification-banner .notification-button {
  padding: 7px;
  background-color: rgba(40, 42, 54, 0.9);
  box-shadow: none;
}

.notification-banner .notification-button:first-child {
  border-radius: 0 0 0 12px;
}

.notification-banner .notification-button:last-child {
  border-radius: 0 0 12px 0;
}

.notification-banner .notification-button:hover,
.notification-banner .notification-buttonfocus {
  color: #f8f8f2;
}

/* Message list */
.message-list {
  border-color: #373a4b;
}

.message-list .message-title,
.message-list .message-content,
.message-list .message-body {
  color: #bdc2cd;
}

.message-list-section-close>StIcon {
  icon-size: 16px;
  border-radius: 16px;
  padding: 8px;
  color: #C3C7D1;
  background-color: transparent;
}

.message-list-section-close:hover>StIcon,
.message-list-section-close:focus>StIcon .message-list-section-close:active>StIcon {
  color: #f8f8f2;
  background: transparent;
}

.message {
  background: #282a36;
  border: 1px solid #1b1c24;
}

.message:hover,
.message:focus {
  background-color: #2f313f;
}

.message-close-button {
  color: #C3C7D1;
}

.message-close-button:hover>StIcon,
.message-close-button:focus>StIcon .message-close-button:active>StIcon {
  color: #f8f8f2;
  background: transparent;
}

.message-secondary-bin>.event-time {
  color: #989fb0;
  font-size: 0.7em;
  /* HACK: the label should be baseline-aligned with a 1em label,
           fake this with some bottom padding */
  padding-bottom: 0.13em;
}

/* Media Controls */
.message-media-control {
  color: #C3C7D1;
}

.message-media-control:hover {
  background-color: #393c4d;
  color: #f8f8f2;
}

.message-media-control:active {
  background-color: #424559;
  color: #f8f8f2;
}

.message-media-control:insensitive {
  color: #838690;
}

.media-message-cover-icon {
  icon-size: 48px !important;
}

.media-message-cover-icon.fallback {
  color: #3e4153;
  background-color: #282a36;
  border: 2px solid #282a36;
  border-radius: 2px;
  icon-size: 16px;
  padding: 8px;
}

/* CALENDAR */
.calendar-month-label {
  color: #b5bac6;
}

.calendar-day-base:hover {
  background-color: rgba(55, 58, 75, 0.95);
}

.calendar-day-base:focus,
.calendar-day-base:active,
.calendar-day-base:selected {
  color: white;
}

.calendar-other-month-day {
  color: rgb(73, 73, 73);
  opacity: 0.5;
}

.calendar-day-with-events {
  background-color: rgba(45, 47, 61, 0.95);
}

.calendar-week-number {
  font-size: 7pt;
  font-weight: bold;
  font-feature-settings: "tnum";
  margin: 6px;
  padding: 0 6px;
  border-radius: 5px;
  background-color: #323545;
  color: #8a8a8a;
}

.events-button {
  background: #262834;
  border-radius: 7px;
  box-shadow: 0px 0px 1px 1px #1b1c24 inset;
  color: #C3C7D1;
}

/* Apps grid */

#overviewGroup {
  background-color: #272936;
}


.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
  background-color: #373a4b;
  border-image: none;
  background-image: none;
}

.app-well-app:active .overview-icon,
.app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
  background-color: #373a4b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #C3C7D1;
}
.app-well-app.app-folder {
  background-color: #373a4b;
  border-radius: 15px;
}

.app-folder-dialog {
  background-color: rgba(45, 47, 61, 0.9);
}

.search-section-content {
  background-color: #21232d;
  border-radius: 18px;
  border: 1px solid #36394b;
  color: #eeeeec;
  padding: 12px;
  margin: 0 12px;
}

.list-search-result:hover,
.search-provider-icon:hover {
  background-color: #36394b;
}

.list-search-result:selected,
.search-provider-icon:selected,
.list-search-result:focus,
.search-provider-icon:focus {
  background-color: #36394b;
}

.list-search-result:selected:hover,
.search-provider-icon:selected:hover,
.list-search-result:focus:hover,
.search-provider-icon:focus:hover {
  background-color: #36394b;
}

.list-search-result:selected:active,
.search-provider-icon:selected:active,
.list-search-result:focus:active,
.search-provider-icon:focus:active {
  background-color: #36394b;
}

.list-search-result:active,
.search-provider-icon:active {
  background-color: #36394b;
}

.modal-dialog {
  color: #F7F7F7;
  background-color: #21232d;
  border: 1px solid #36394b;
}

.modal-dialog .modal-dialog-linked-button,
.hotplug-notification-item,
.notification-banner .notification-button {
  background-color: #37394d;
  color: #F7F7F7;
}

.modal-dialog .modal-dialog-linked-button:insensitive,
.hotplug-notification-item:insensitive,
.notification-banner .notification-button:insensitive {
  background-color: #292b39;
  color: #6c6c6c;
}

.modal-dialog .modal-dialog-linked-button:focus,
.hotplug-notification-item:focus,
.notification-banner .notification-button:focus,
.modal-dialog .modal-dialog-linked-button:focus:hover,
.hotplug-notification-item:focus:hover,
.notification-banner .notification-button:focus:hover,
.modal-dialog .modal-dialog-linked-button:focus:active,
.hotplug-notification-item:focus:active,
.notification-banner .notification-button:focus:active,
.modal-dialog .modal-dialog-linked-button:hover,
.hotplug-notification-item:hover,
.notification-banner .notification-button:hover,
.modal-dialog .modal-dialog-linked-button:active,
.hotplug-notification-item:active,
.notification-banner .notification-button:active {
  color: #F7F7F7;
  background-color: #454862;
}

/* DASH TO DOCK */
#dashtodockContainer #dash {
  background: transparent !important;
}

#dashtodockContainer #dash .dash-background {
  background: #21232d !important;
  border: none;
}

#dashtodockContainer #dash .dash-item-container .app-well-app .overview-icon.focused .overview-icon,
#dashtodockContainer #dash .dash-item-container .show-apps .overview-icon.focused .overview-icon {
  background-color: #373a4b !important;
}

.dash-background {
  background-color: #21232d;
}

.dash-separator {
  background-color: #373a4b;
}

.dash-label {
  background-color: #21232d;
}

/* icons padding */
#dashtodockContainer .overview-icon {
  padding: 4px;
}

#dashtodockContainer.icon {
  padding: 4px;
}