
@import '../style.css';

window#waybar {
    /*background-color: rgba(70, 130, 180, 1.0);*/
    background-color: rgba(0, 0, 0, 0.6);
    color: #cccccc;
}

/* Arch logo color */
#custom-appmenuicon{
    color: #1793d1;
    background-color: transparent;
    background: none;
}

/* default background color for modules */
#clock,
#bluetooth,
#tray{
    background-color: black;
}

#clock:hover,
#custom-wallpaper:hover,
#custom-filemanager:hover,
#custom-browser:hover,
#custom-exit:hover{
    color: #fff;
}

/* bluetooth */
#bluetooth.connected{
    color: #0082FC;
}

/* tray */
#tray{
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
