
@import '../style.css';

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #cccccc;
}

/* Arch logo color */
#custom-appmenuicon{
    color: #1793d1;
    background-color: transparent;
    background: none;
}

/* default background color for all modules */
#clock {
    background-color: transparent;
}


/*#clock {
    background: none;
    background-color: transparent;
}*/

#clock:hover,
#custom-wallpaper:hover,
#custom-filemanager:hover,
#custom-browser:hover{
    color: #fff;
}
