
@import '../style.css';


window#waybar {
    /*background-color: rgba(70, 130, 180, 0.6);*/
    background-color: rgb(232, 240, 246);
    color: #333333;
}

/* Arch logo color */
#custom-appmenuicon{
    color: #1793d1;
    background-color: transparent;
    background: none;
}

/* default background color for modules */
#clock,
#custom-weather,
#quicklinks,
#cpu,
#memory,
#disk,
#workspaces,
#custom-updates,
#bluetooth,
#system,
#battery{
    background-color: rgb(232, 240, 246);
}

#cpu,
#memory,
#disk,
#custom-weather,
#tray{
    background-color: #dbe6ec;
    border: 1px solid #ced9de;
}

/* hover color */
#clock:hover,
#custom-wallpaper:hover,
#custom-filemanager:hover,
#custom-browser:hover,
#custom-phpstorm:hover,
#pulseaudio:hover,
#custom-exit:hover{
    color: #000000;
}

/**********************************************/

/* updates */

#custom-updates.green {
    color: #94D82D;
}
#custom-updates.yellow {
    color: #ff9a3c;
}
#custom-updates.red {
    color: #dc2f2f;
}
#custom-updates.no-update{
    color: #555555;
}

/* workspaces */

#workspaces button {
    color: #666666;
}
#workspaces button:hover {
    background: #a0afb6;
    color: #333333;
}
#workspaces button.active {
    background: #a0afb6;
    color: #FFFFFF;
    /*border: 1px solid #323d4c;*/
}

/* network */
#network:not(.disabled),
#network:not(.disconected){
    color: #94D82D;
}
#network.disabled,
#network.disconnected{
    color: #FA5252;
}

/* bluetooth */
#bluetooth.connected{
    color: #0082FC;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */
#battery:not(.plugged){
    color: #0082FC;
}
#battery.warning:not(.plugged){
    color: orange;
}
@keyframes blink {
    to {
        color: red;
    }
}
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.charging {
    color: #94D82D;
}

